.Pokedex {
    text-align: center;
}
.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: #01f901;
}

.Pokedex-loser {
    color: red;
}

.Pokedex h1 {
    margin: 10px;
}